@import '../../constants/_variables.scss';

.container {
  max-width: 750px;
  background-color: $light;
  border: 1px solid #000;
  text-align: center;
  margin: 0 auto;
  padding: 2rem 2rem 3rem;
}
