@import '../../constants/_variables.scss';

.container {
  max-width: 648px;
  background-color: $light;
  border: $border;
  text-align: center;
  margin: 0 auto 0.5rem;
  padding: 1rem 0rem 3rem;
  box-sizing: border-box;
}

.cards {
  max-width: 664px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  @media (max-width: 700px) {
    justify-content: center;
  }
}
