@import '../../constants/variables';

.button {
  display: inline-block;
  background-color: $light;
  color: $dark;
  padding: 1rem 2rem;
  border: $border;
  border-radius: 50px;
  line-height: 1rem;
  font-size: 1.1rem;
  font-weight: 600;
  transition: color $transition_time, background-color $transition_time;
  &:hover {
    background-color: $dark;
    color: $light;
    cursor: pointer;
  }
}
