@import '../../constants/variables';

.container {
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $light;
}
.black {
  border: $border;
}
.red {
  border: $border_red;
}
.small,
.close {
  width: 30px;
  height: 30px;
}
.small {
  .img {
    width: 20px;
    height: 20px;
  }
}
.close {
  .img {
    width: 15px;
    height: 15px;
  }
}
.medium {
  width: 55px;
  height: 55px;
}
.large {
  width: 95px;
  height: 95px;
  border: 3px solid #000;
}
.img {
  cursor: pointer;
  transition: all 0.6s ease-out;
  &:hover {
    transform: rotate(-360deg);
  }
}
