@import '../../constants/_variables.scss';

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 800px;
  background-color: $light;
  border: $border;
  text-align: center;
  margin: 1rem;
  padding: 2rem 2rem 3rem;
  @media (max-width: 750px) {
    position: static;
    transform: translate(0, 0);
  }
  p {
    padding: 0 1rem 0.5rem;
  }
}
