@import '../../constants/_variables.scss';

.form {
  max-width: 500px;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: left;

  label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // p {
    //   flex-grow: 3;
    // }
  }

  input[type='text'] {
    width: 250px;
    outline: 0;
    background-color: $light;
    border: 0;
    border-bottom: 1px solid $dark;
  }

  input[type='file'] {
    outline: 0;
    display: none;
    pointer-events: none;
    user-select: none;
  }

  .button {
    text-align: center;
    margin-top: 1rem;
  }
}
