@import '../../constants/variables';

.container {
  background: $light;
  border: $border;
  padding: 3rem 4rem 1rem;
  margin: 0.5rem;
  text-align: center;

  .img {
    border: $border;
    margin-bottom: 1.5rem;
  }

  .volume {
    display: flex;
    justify-content: center;
  }

  .bold {
    font-weight: $fontWeight;
  }
}
