.container {
  display: flex;
  margin: 1rem 2rem;

  .number {
    color: #9e9e9e;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
  }

  .word {
    cursor: pointer;
  }

  .text {
    text-decoration: underline;
  }
}
