@import '../../constants/_variables.scss';

.container {
  max-width: 800px;
  background-color: $light;
  border: $border;
  text-align: center;
  margin: 0 auto;
  padding: 2rem 2rem 3rem;
  position: relative;

  .button {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .correct {
    color: $green;
  }

  .wrong {
    color: $red;
  }
}
